.container__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
}

.container__main-data {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.main-topimg {
  min-height: 8.3125rem;
  border-radius: var(--corner-radius);
  margin-bottom: -5.8rem;
  position: relative;
  overflow: hidden;
}

.main-topimg__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

figure {
  min-width: 4.9375rem;
  min-height: 4.9375rem;
  position: absolute;
  right: 1rem;
  top: -0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main__stats {
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-radius: 15px;
  background-color: var(--Dark-blue);
  transition: background-color 0.3s;
  position: sticky;
  z-index: 10;
}

.stats__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.stats__title-title {
  font-weight: var(--fw-regular);
}

.main__stats:hover:not(:has(.stats__title-ellipsis:hover)) {
  cursor: pointer;
  background-color: hsl(236, 38%, 34%);
}

.stats__title-ellipsis {
  transition: filter 0.5s ease;
  filter: brightness(1);
}

.stats__title-ellipsis:hover {
  cursor: pointer;
  filter: brightness(2);
}

.stats__stats {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stats__hours {
  font-size: 3.2rem;
}

.stats__previous {
  color: var(--Pale-Blue);
  font-size: 0.9rem;
}

@media screen and (max-width: 1062px) {
  .container__main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .main__stats {
    gap: 10px;
  }

  .stats__stats {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .stats__previous {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .container__main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .main__stats {
    gap: 10px;
  }

  .stats__stats {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .stats__hours {
    font-size: 2.5rem;
  }

  .stats__previous {
    font-size: 1rem;
  }
}
